*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}


/* Laptop */
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
}

/* Phone */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

/* Small phone */
@media (max-width: 480px) {
  .container {
    padding: 0 5px;
  }
}
